---
import { Image } from "astro:assets";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Concept from '../components/Concept.astro';

import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Contact from "../components/Contact.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Thesis 2024">
	<main class="dark:text-white">
		<section class="grid place-items-center h-screen">
			<h1 class="text-5xl italic">THESIS 2024</h1>
		</section>
		<section class="w-1/2 h-screen m-auto">
			<h1 class="text-5xl text-center mb-10">{t('title.candidates')}</h1>
			<ul role="list" class="link-card-grid flex-col lg:flex-row">
				<Card
					img="https://avatars.githubusercontent.com/u/90853097?v=4"
					href="isakovic"
					title="Isakovic Arim"
					body="Explorer. Problem solver. Student."
				/>
				<Card
					img="https://avatars.githubusercontent.com/u/63104332?v=4"
					href="https://github.com/Andrei-Stana"
					title="Andrei Stana"
					body=""
				/>
				<Card
					img="https://avatars.githubusercontent.com/u/85924847?v=4"
					href="https://github.com/Francisco-Davila"
					title="Francisco Davila-Mendez"
					body="I'm a passionate programmer, weaving logic into lines of code to turn ideas into digital reality."
				/>
			</ul>
		</section>
		<section id="skills" class="h-screen">
			<h1 class="text-5xl text-center mb-10">{t('title.skills')}</h1>
			<Image
				draggable="false"
				src="https://skillicons.dev/icons?i=nodejs,react,nextjs,vite,svelte,express,ts,tailwind,rust,ipfs,python,c,cs,dotnet,java,hibernate,spring,sqlite,postgres,mongo,redis,docker,kubernetes,git&perline=6"
				alt="our skills"
				width="900" height="600"
				class="m-auto" />
		</section>
		<section id="ideas" class="w-1/2 m-auto h-screen">
			<h1 class="text-5xl text-center mb-10">{t('title.ideas')}</h1>
			<ul role="list" class="ideas-card-grid">
				<Concept
					title="AI-driven Pen Testing Tool"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam nisl nisl vitae nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl."
					href="#"
				/>
				<Concept
					title="Project 2"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam nisl nisl vitae nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl."
					href="#"
				/>
				<Concept
					title="Project 3"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam nisl nisl vitae nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl."
					href="#"
				/>
				<Concept
					title="Project 4"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam nisl nisl vitae nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl."
					href="#"
				/>
			</ul>
		</section>
	</main>
	<hr>
	<footer class="bg-gray-900 text-lg text-white p-4 h-96">
		<h1 class="text-lg font-bold">Kontaktieren Sie uns!</h1>
		<div class="flex justify-between w-full">
			<Contact name="Isakovic Arim" email="arim.isakovic@gmail.com" phone="+43 650 630 20 84" />
			<Contact name="Andrei Stana" email="" phone="" />
			<Contact name="Francisco Davila-Mendez" email="" phone="" />
		</div>
	</footer>
</Layout>

<style>
	.link-card-grid {
		display: flex;
		gap: 3rem;
	}
	.ideas-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 3rem;
	}
</style>
