---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Concept from "../components/Concept.astro";
import Contact from "../components/Contact.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("de");

const root = i18next.language === "de" ? "/" : "/en/";
---

<Layout title="Thesis 2024">
	<main class="dark:text-white">
		<section class="grid place-items-center h-screen">
			<h1 class="text-5xl md:text-9xl">{t('title.main')} 2024</h1>
		</section>
		<section class="w-full sm:w-3/4 md:w-1/2 min-h-screen mx-auto">
			<h1 class="text-2xl sm:text-3xl md:text-4xl text-center mb-10">{t('title.candidates')}</h1>
			<ul role="list" class="flex flex-col sm:flex-row gap-4">
				<Card
					img="https://avatars.githubusercontent.com/u/90853097?v=4"
					href={root + "isakovic"}
					title="Isakovic Arim"
					body={t('candidate.isakovic')}
				/>
				<Card
					img="https://avatars.githubusercontent.com/u/63104332?v=4"
					href={root + "stana"}
					title="Andrei Stana"
					body={t('candidate.stana')}
				/>
				<Card
					img="https://avatars.githubusercontent.com/u/85924847?v=4"
					href="https://github.com/Francisco-Davila"
					title="Francisco Davila-Mendez"
					body={t('candidate.davila-mendez')}
				/>
			</ul>
		</section>
		<section class="mt-10 md:mt-20 min-h-screen">
			<h1 class="text-3xl md:text-5xl text-center mb-10">{t('title.skills')}</h1>
			<Image
				draggable="false"
				src="https://skillicons.dev/icons?i=nodejs,react,nextjs,vite,svelte,express,ts,tailwind,rust,ipfs,python,c,cs,dotnet,java,hibernate,spring,sqlite,postgres,mongo,redis,docker,kubernetes,git&perline=6"
				alt="our skills"
				width="900"
				height="600"
				class="mx-auto"
			/>
		</section>
		<section class="w-full md:w-1/2 mx-auto mt-10 md:mt-20 min-h-screen">
			<h1 class="text-3xl md:text-5xl text-center mb-10">{t('title.ideas')}</h1>
			<ul role="list" class="ideas-card-grid mb-5 md:grid-cols-2 lg:grid-cols-3 gap-4">
				<Concept
					title={t('ideas.1.title')}
					body={t('ideas.1.description')}
					href={root + "pen-test"}
				/>
				<Concept
					title={t('ideas.2.title')}
					body={t('ideas.2.description')}
					href={root + "marketing"}
				/>
			</ul>
			<p class="text-lg text-center">{t('ideas.note')}</p>
		</section>
		<section class="w-full md:w-1/2 mx-auto min-h-screen">
			<h1 class="text-3xl md:text-5xl text-center mb-10">{t('title.timeframe')}</h1>
			<p class="text-xl md:text-2xl text-center mb-5">1. Jul - 10. Sep <span class="font-bold">2024</span></p>
			<p class="text-xl md:text-2xl text-center">{t('timeframe.internship')}</p>
		</section>
	</main>
	<footer class="bg-gray-900 dark:bg-cyan-50 dark:text-black text-lg text-white p-4 h-96 flex flex-col justify-center items-center">
		<h1 class="text-2xl md:text-3xl font-bold mb-4">{t('title.contact')}</h1>
		<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
			<Contact name="Isakovic Arim" email="arim.isakovic@gmail.com" phone="+43 650 630 20 84" />
			<Contact name="Andrei Stana" email="andreistana1412@gmail.com" phone="+43 690 10045559" />
			<Contact name="Francisco Davila-Mendez" email="" phone="" />
		</div>
	</footer>
	
</Layout>

<style>
	.link-card-grid {
		display: flex;
		gap: 3rem;
	}
	.ideas-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 3rem;
	}
</style>
