---
import { Image } from "astro:assets";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Concept from '../components/Concept.astro';

import { getLangFromUrl, useTranslations } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Thesis 2024">
	<main class="m-auto">
		<section class="grid place-items-center">
			<h1 class="text-5xl italic">THESIS 2024</h1>
		</section>
		<section>
			<h1 class="text-5xl">{t('title.candidates')}</h1>
			<ul role="list" class="link-card-grid flex-col lg:flex-row">
				<Card
					img="https://avatars.githubusercontent.com/u/90853097?v=4"
					href="isakovic"
					title="Isakovic Arim"
					body="Explorer. Problem solver. Student."
				/>
				<Card
					img="https://avatars.githubusercontent.com/u/63104332?v=4"
					href="https://github.com/Andrei-Stana"
					title="Andrei Stana"
					body=""
				/>
				<Card
					img="https://avatars.githubusercontent.com/u/85924847?v=4"
					href="https://github.com/Francisco-Davila"
					title="Francisco Davila-Mendez"
					body="I'm a passionate programmer, weaving logic into lines of code to turn ideas into digital reality."
				/>
			</ul>
		</section>
		<section>
			<h1>{t('title.skills')}</h1>
			<Image
				draggable="false"
				src="https://skillicons.dev/icons?i=nodejs,react,nextjs,vite,svelte,express,ts,tailwind,rust,ipfs,python,c,cs,dotnet,java,hibernate,spring,sqlite,postgres,mongo,redis,docker,kubernetes,git&perline=6"
				alt="our skills"
				width="900" height="600"
				class="m-auto" />
		</section>
		<section>
			<h1>{t('title.ideas')}</h1>
			<ul role="list" class="ideas-card-grid">
				<Concept
					title="AI-driven Pen Testing Tool"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam nisl nisl vitae nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl."
					href="#"
				/>
				<Concept
					title="Project 2"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam nisl nisl vitae nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl."
					href="#"
				/>
				<Concept
					title="Project 3"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam nisl nisl vitae nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl."
					href="#"
				/>
				<Concept
					title="Project 4"
					body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod, nisl eget ultricies aliquam, nunc nisl aliquet nunc, quis aliquam nisl nisl vitae nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl. Sed vitae nisl euismod, aliquam nisl vitae, aliquam nisl."
					href="#"
				/>
			</ul>
		</section>
	</main>
</Layout>

<style>
	main {
		width: 50%;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	section {
		padding: 2rem 0;
		height: 100%;
	}
	.link-card-grid {
		display: flex;
		gap: 3rem;
	}
	.ideas-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 3rem;
	}
</style>
