---
import { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("de");
---

<Layout title="Dynamic Marketing">
    <main class="w-1/2 m-auto p-20 dark:text-white">
        <header class="text-center mb-10">
            <h1 class="text-5xl underline">{t('ideas.2.title')}</h1>
        </header>
        <section class="mb-10">
            <h1 class="text-3xl">Features</h1>
            <article class="text-xl">{t('ideas.2.features')}</article>
        </section>
    </main>
</Layout>