---
import { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("de");
---

<Layout title="Pen Testing">
    <main class="w-1/2 m-auto p-20 dark:text-white">
        <header class="text-center mb-10">
            <h1 class="text-5xl underline">{t('ideas.1.title')}</h1>
        </header>
        <section class="mb-10">
            <h1 class="text-3xl">Features</h1>
            <article class="text-xl">{t('ideas.1.features')}</article>
        </section>
        <section>
            <h1 class="text-3xl">Integrations</h1>
            <h2 class="text-2xl">CI/CD</h2>
            <article class="mb-10">{t('ideas.1.integrations.CI/CD')}</article>
            <h2 class="text-2xl">IDE</h2>
            <article>{t('ideas.1.integrations.IDE')}</article>
        </section>
    </main>
</Layout>