---
import { ViewTransitions } from "astro:transitions";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Listing from "../components/Listing.astro";
import i18next, { t, changeLanguage } from "i18next";

changeLanguage("de");
---

<Layout title="Andrei Stana">
    <main class="xl:flex grid place-items-center justify-center gap-x-10 h-screen dark:text-white m-20 xl:m-auto">
        <div class="xl:w-1/2 lg:w-2/3 md:w-full mt-28">
            <header class="flex items-center flex-col lg:flex-row gap-4 mb-4">
                <a href={i18next.language === 'de' ? '/' : '/en'} class="text-4xl lg:text-2xl animate-bounce">&lt;</a>
                <h1 class="text-3xl lg:text-4xl">Andrei Stana</h1>
                <hr class="w-7/12 lg:w-full">
            </header>
            <section class="text-lg">
                <article>
                    { t("stana.about") }
                </article>
                <div class="md:flex grid grid-cols-2 lg:grid-cols-3 justify-between mb-10">
                    <ul class="flex flex-col">
                        <Listing content="Java / Quarkus"/>
                        <Listing content="C# / ASP.NET Core"/>
                        <Listing content="Python"/>
                        <Listing content="NodeJS / Express"/>
                        <Listing content="Hibernate"/>
                    </ul>
                    <ul class="flex flex-col">
                        <Listing content="Python"/>
                        <Listing content="React"/>
                        <Listing content="TypeScript"/>
                    </ul>
                    <ul class="flex flex-col">
                        <Listing content="Azure Cosmos DB"/>
                        <Listing content="Oracle"/>
                        <Listing content="DerbyDB"/>
                        <Listing content="MongoDB"/>
                    </ul>
                </div>
            </section>
        </div>
        <div class="mt-6 lg:mt-0">
            <Image transition:name="profile" transition:animate="slide"
                   src='https://avatars.githubusercontent.com/u/63104332?v=4'
                   alt="GitHub profile"
                   width="250" height="250"
                   class="rounded mb-2"
            />
            <div class="flex gap-x-2">
                <a transition:animate="slide" href="#"><img src="https://skillicons.dev/icons?i=linkedin" /></a>
                <a transition:animate="slide" href="https://github.com/Andrei-Stana"><img src="https://skillicons.dev/icons?i=github" /></a>
                <a transition:animate="slide" href="/cv/Lebenslauf-Stana-Andrei.pdf"
                   class="flex justify-between bg-black text-white dark:bg-white dark:text-black rounded p-3 h-12 w-2/3 text-lg">
                    Resume
                </a>
            </div>
        </div>
    </main>
</Layout>
