---
interface Props {
  name: string;
  email: string;
  phone: string;
}

const { name, email, phone } = Astro.props;
---

<div>
    <h1 class="underline">{name}</h1>
    <p>{email}</p>
    <p>{phone}</p>
</div>